---
// src/components/Header.astro
import SocialIcons from "../components/SocialIcons";
import WhatsAppButton from "../components/WhatsAppButton";
import SideMenu from '../components/SideMenu.astro';

const menuItems = [
    { name: 'Inicio',      href: '/',            icon: "fa-solid fa-house"          },
    { name: 'Servicios',   href: '/servicios/',   icon: "fa-solid fa-file-lines"     },
    { name: 'Nosotros',    href: '/nosotros/',    icon: "fa-solid fa-building"       },
    { name: 'Contáctanos', href: '/contactanos/', icon: "fa-solid fa-rectangle-list" },
];

const currentPath = Astro.url.pathname;
---

<header class="header-class" >
    <div class="flex items-center">
        <img src="/logos/codexart.svg" alt="CodexArt Logo" class="h-8" />
    </div>

    <nav class="hidden md:block">
        <ul class="flex space-x-4">
            {menuItems.map(item => {
                const isActive = currentPath === item.href;
                return (
                    <li class={(isActive ? 'border-b-2 border-b-sky-500' : '') + ' cursor-pointer pb-2 px-4 hover:bg-sky-100 hover:rounded-lg hover:text-blue-600'}  id={item.name}>
                        <a href={item.href} class="side-menu-a-item">
                            {item.name}
                        </a>
                    </li>
                )
            })}
        </ul>
    </nav>

    <div class="hidden md:flex items-center space-x-4">
        <SocialIcons />
        <WhatsAppButton />
    </div>

    <div class="block md:hidden ml-auto">
        <!-- Componente del menú móvil -->
        <SideMenu />
    </div>
</header>
